<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>For debugging</title>
    </head>
    <body>
      <h2>Show data entries</h2>
        <div class="emailDiv">
        <h2 class="underline">Email Addresses Entered</h2>
        <table class=emailtable>
          <tr>
            <th>Email Address</th>
            <th>Date Created</th>
            <th>Action</th>
          </tr>
          {% for user in users %}
          <tr>
              <td>{{user.email}}</td>
              <td>{{user.created_at }}</td>
              <td><a href="/show/{{user.id}}/delete">Delete Email</a></td>
          </tr>
          {% endfor %}
        </table>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
      <a href="/">Home</a>
    </body>
</html>
